<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Quiz_ManageConnectionString" connectionString="Data Source=DESKTOP-0760CPT\SQLEXPRESS;Initial Catalog=Quiz_Manage;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>